.vscode/**
src/**
tests/**
node_modules/**
scripts/**
publish/**
instructions/.workspaces/**
dist-tests/**
*.tsbuildinfo
*.log
.gitignore
tsconfig.json
tsconfig.src.json
tsconfig.tests.json
package-lock.json
**/*.ts
!dist/**
dist/hooks/**
